@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Dancing+Script&family=Kings&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Unna&display=swap');

@keyframes moving {
  0% { transform: translate(1px, 0px); }
  20% { transform: translate(-2px, 0px); }
  40% { transform: translate(4px, 0px); }
  60% { transform: translate(-4px, 0px); }
  80% { transform: translate(4px, 0px); }
  100% { transform: translate(-4px, 0px); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.brand h1{
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    color: #FF00BB;
}

.menu {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-top: 1rem;
}

.clock {
    margin-top: 1rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 12px;
    color: #BC13FE;
    border: 2px solid white;
    border-radius: 10px;
}

.date-time {
    margin-top: 1rem;
}

.date-time span:nth-child(2) {
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
}

.welcome_board {
    height: 250px;
    font-family: 'Dancing Script', cursive;
}

.welcome_board h1:nth-child(2) span {
    font-family: 'Kings', cursive;
    font-weight: bold;
}

.arrow a{
    font-size: 3rem;
    color: #FF00BB;
}

.arrow a i:hover {
    text-shadow: 2px 0px 2px white;
    animation: moving 0.5s;
}

.uparrow a{
    font-size: 3rem;
    color: #FF00BB;
}

.uparrow a i:hover {
    text-shadow: 2px 0px 2px white;
    animation: moving 0.5s;
}

.cursor {
    top: 0;
    left: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

.images_head {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.about {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: justify;
    color: black;
}

.profile {
    height: 200px;
    width: 170px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}

table td i:hover {
    transform: scale(3);
}

.fa-instagram {
    color: #FF00BB;
}

/* Education */

#EducationSection {
    margin-top: 5rem;
    font-family: 'Bebas Neue', sans-serif;
}

#EducationSection h3 {
    font-size: 3rem;
    color:white;
}

#EducationSection .education_educations_col {
    text-align: right;
    font-size: 1.5rem;
    font-family: 'Prompt', sans-serif;
    color:crimson;
}

#EducationSection .education_educations_col .education_education_item h4 {
    font-size: 1.2rem;
    font-family: 'Inconsolata', monospace;
}
#EducationSection .education_educations_col .education_education_item p {
    font-size: 1.7rem;
    font-weight: bolder;
}


/* skills */

#SkillSection {
    margin-top: 5rem;
    font-family: 'Bebas Neue', sans-serif;
}

#SkillSection h4 {
    font-size: 4rem;
}

#SkillSection .skill {
    border-radius: 10px;
    font-family: 'Inconsolata', monospace;
}

#SkillSection .skill p {
    color: chartreuse;
    margin-top: 1rem;
}

/* projects */

#project_section {
    margin-top: 5rem;
    font-family: 'Bebas Neue', sans-serif;
}

#project_section h4 {
    font-size: 4rem;
    color:darkorange;
}

#project_section .project {
    border-radius: 10px;
    margin-top: 50px;
}

#project_section .project .project_info .project_info_col h4 {
    font-size: 1.5rem;
    color:springgreen;
    font-family: 'Unna', serif;
}

#project_section .project .project_info .project_info_col p {
    color:chocolate;
    font-family: 'Inconsolata', monospace;
    text-align: justify;
}

#project_section span {
    color: greenyellow;
    text-align: left;
}

#project_section ul {
    color: chocolate;
    text-align: justify;
}


