@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Dancing+Script&family=Kings&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');


.main {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.brand {
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    text-align:center;
}

.menu {
    margin-left: 20px;
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.clock{
    transform: translate(10%, 10%);
}

.date-time {
    letter-spacing: 3px;
}

p.date-time span:nth-child(2) {
    font-size: 1.5rem;
}

p.date-time span:nth-child(4) {
    text-align: center;
    letter-spacing: 16.5px;
}

.home_view p:nth-child(1) {
    transform: translate(8%, 200%);
}

.home_view p:nth-child(2) {
    transform: translate(0%, 150%);
}

.home_view p:nth-child(2) span {
    font-size: 3rem;
}

.home_view p:nth-child(3) {
    transform: translate(-10%, 250%);
}

.arrow {
    transform: translate(0%, 200%);
}

.about_page .container {
    width: 90%;
}

.about_page .container p {
    font-size: 15px;
}

.about_info img {
    margin-bottom: 5px;
}

.uparrow {
    transform: translate(45%, 50%);
}